* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #c8c8c8;
}

.header {
  display: flex;
  background-color: black;
  padding: 2rem 2rem 2rem 2rem;
}

.profile-picture {
  max-height: 300px;
  border-radius: 10%;
  border: 1rem solid #afaff5;
}

.about-me {
  background-color: #afaff5;
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1rem 2rem 1rem 2rem;
  margin: 3rem 0 3rem 0;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  max-width: 40%;
}

.titolo {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

/* FOOTER */

.footer {
  display: flex;
  background: url(images/dither.png);
  padding: 3rem;
  gap: 2rem;
}

.info {
  font-size: 1.5rem;
  padding-left: 2rem;
}

.contact {
  font-size: 3rem;
  font-weight: 700;
}

.personal-info {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.icona2 {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.icone-social {
  display: flex;
  gap: 1rem;
}

.icona3 {
  width: 3rem;
  height: 3rem;
}

.programming {
  max-width: 50%;
}

/* MEDIA QUERIES */

@media (max-width: 1316px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .about-me {
    border-radius: 2rem;
    margin: 2rem 0 1rem 0;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 0 0;
  }

  .programming {
    max-height: none;
    max-width: 100%;
    margin-top: 1rem;
  }
}

@media (max-width: 750px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .about-me {
    border-radius: 2rem;
    margin: 1rem 0 1rem 0;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-picture {
    max-height: 300px;
  }

  .icona {
    width: 1.5rem;
    height: 1.5rem;
  }

  .programming {
    max-height: none;
    max-width: 100%;
    margin-top: 1rem;
  }
}

/*NAVVVVVVVVVVVVVVVVV BAR */

.desktop {
  display: flex;
  flex-wrap: wrap;
}

#menubar {
  position: relative;
  font-family: courier, mono-space;
  font-size: 14px;
  font-weight: bold;
  height: 20px;
  background-color: white;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  z-index: 999999;
}

.menu {
  position: relative;
  z-index: 99999;
  float: left;
  height: 16px;
  overflow: hidden;
  padding-left: 5px;
  margin-right: 8px;
  padding-top: 1px;
  cursor: pointer;
}

.menu .tendina {
  position: absolute;
  background-color: #fff;
  border: 1px #808080;
  box-shadow: 3px 3px 6px #6e7ad4;
  min-width: 100px;
  width: auto;
  padding: 5px;
  margin-bottom: 5px;
  cursor: default;
  white-space: nowrap;
}

.menu > p {
  margin: 0px;
  padding: 1px 5px;
  height: 18px;
}

.menu:hover {
  overflow: visible;
}

.menu p {
  cursor: pointer;
}

.menu p:hover {
  background-color: black;
  color: white;
}

.menu .item {
  margin: 0px;
  padding: 2px 4px;
}

.menu a {
  text-decoration: none;
  color: black;
}
.menu p:hover a {
  color: white;
}

/* DDDDDEEEEEEEEEEEEEESSSSSSSSSSSSSSSSKKKKKKKKKKKKTTTTTTTTTTTTTTOOOOOOOOOOOPPPPPPPPPPPPP */

#main {
  position: relative;
  height: 100vh;
  background-image: url(images/1bithalftone-purple3.png);
  margin: 3rem 10rem;
  border: 2px solid black;
}

.cartella {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 90px;
  margin: 2rem 1rem 2rem 1rem;
}

.cartella .folder-name {
  width: fit-content;
  max-width: 100%;
  text-align: center;
  margin: 0;
  padding: 2px 4px;
  margin-top: 0.5rem;
  background-color: white;
  word-wrap: break-word;
}

.cartella .folder-name:hover,
.cartella {
  cursor: pointer;
}

.cartella:hover .folder-name {
  background-color: black;
  color: white;
}

.icona {
  width: 2.2rem;
  height: 2.2rem;
}

/* FINESTRA */

.finestra {
  position: absolute;
  top: 6rem;
  left: 6rem;
  height: 270px;
  width: 350px;
  border: 2px solid rgb(28, 4, 87);
  background-color: white;
}

.topBar {
  background: url(images/1bithalftone-purple2.png);
  border-bottom: 1px solid black;
  height: 20px;
  position: relative;
}

.topName {
  background-color: white;
  margin: 0 auto;
  padding: 0 3px;
  height: 20px;
  width: fit-content;
}

.closeBtn {
  position: absolute;
  width: 14px;
  height: 14px;
  right: 4px;
  top: 2px;
  background-color: white;
  border: 1px solid black;
}
